apiVersion: apps/v1
kind: Deployment
metadata:
  name: dep-file
spec:
  replicas: 4
  selector:
    matchLabels:
      env: dev
  template:
   metadata:
     name: green
     labels:
       env: dev
   spec:
     containers:
      - name: c1
        image: jadhavkaveri/sanchita-repo:v2
        ports: 
        - containerPort: 80     
